<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
</head>
<body>
    <%- include ('partials/nav') %>
    <h3>About us</h3>
    <img src="/assets/img/apple-iphone-xs-max-gold-64-gb.jpeg" alt="">
    <p>This Page is basically created to make someone know about our company</p>
</body>
</html>